@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --width-content-default: 45rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  font-family: 'Roboto', system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

/* --------------------- Barra de Navegacion --------------------- */

.smj-header{
  width: var(--width-content-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smj-header .smj-nav{
  width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  
  background: rgba(255, 255, 255, 0.2); /* Blanco con transparencia */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.smj-nav .smj-a{
  width: 10rem;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  transition: ease 0.15s;
}

.smj-nav .smj-a:hover{
  color: #006ce7;
}

/* --------------------- Barra de Navegacion --------------------- */



/* --------------------- Presentacion --------------------- */

.smj-main-content{
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

.smj-main{
  width: var(--width-content-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.smj-main .smj-container-profile{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
}

.smj-container-profile .smj-img{
  background-color: #006ce7;
  width: 18.5%;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.smj-img .smj-img-profile{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.smj-container-profile .smj-condition-status{
  background-color: #d6ffe2;
  width: 15rem;
  text-align: center;
  color: #069201;
  text-decoration: none;
  border: 3px solid #22ce00;
  border-radius: 2rem;
  padding: 0.4rem;
  transition: ease 0.2s;
}

.smj-container-profile .smj-condition-status:hover{
  background-color: #a5ffc3;
}

.smj-main .smj-h1{
  font-size: 3.5rem;
}

.smj-main .smj-p{
  font-size: 1.5rem;
}

.smj-main .smj-span{
  color: #006ce7;
  font-weight: 500;
}

.smj-contact-information{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.smj-contact-information .smj-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f0f0;
  color: #010101;
  text-decoration: none;
  border: 2px solid #d4d4d4;
  border-radius: 1rem;
  padding: 0.5rem 1.8rem;
}

.smj-contact-information .smj-links:hover{
  background-color: #3d3d3d;
  color: #f0f0f0;
}

/* --------------------- Presentacion --------------------- */


/* --------------------- Experiencia --------------------- */

.smj-experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--width-content-default);
}


.smj-experience .smj-h2{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.smj-timeline{
  position: relative;
  width: 100%;
}

.smj-timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 2.5px;
  height: 100%;
  background: rgba(112, 112, 112, 0.11);
}


.smj-timeline .smj-timeline-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  padding-left: 40px;
}

.smj-timeline-item .smj-timeline-dot {
  width: 15px;
  height: 15px;
  background: #006ce7;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.smj-timeline-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smj-timeline-item  .smj-job{
  width: 50%;
}

.smj-timeline-item .smj-details-job{
  width: 40%;
}
/* --------------------- Experiencia --------------------- */



/* ---------------------- Proyectos ---------------------- */
.smj-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--width-content-default);
  gap: 2rem;
}

.smj-projects .smj-project-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.smj-project-item .smj-project-img{
  width: 60%;
  border-radius: 0.7rem;
  overflow: hidden;
}

.smj-project-img img{
  width: 100%;
  object-fit: fill;
}

.smj-project-item .smj-project-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.smj-project-technologies .smj-project-list-technologies{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
}

.smj-project-list-technologies .smj-project-list-technologies-item{
  font-size: 12px;
  padding: 0.3rem;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.smj-project-details .smj-project-list-details{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.smj-project-list-details a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem ;
}

.smj-project-list-details a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease;
}


.bg-html-light{
  background-color: #ffddd6;
}

.bg-css-light{
  background-color: #bee4ff;
}

.bg-js-light{
  background-color: #fff79a;
}


/* ---------------------- Proyectos ---------------------- */
/* .smj-footer{

} */